<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="0.9.1" targetFramework="net40" requireReinstallation="True" />
  <package id="CacheManager.Memcached" version="0.9.1" targetFramework="net40" requireReinstallation="True" />
  <package id="EnyimMemcached" version="2.13" targetFramework="net40" />
</packages>